################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaterialAPI/.vs/MaterialAPI
/MaterialAPI/MaterialAPI/bin/Debug/netcoreapp3.1
/MaterialAPI/MaterialAPI/obj
