.container {
    align-items: baseline;
    display: grid;
    grid-template-areas:
        "id idVal"
        "desc descval"
        "notes notesVal";
    grid-template-columns: 50px 400px;
    font-size: 14px;
    width: 50%;
  }

.idh {
    grid-area: id;
}

.id {
    grid-area: idVal;
}

.desch {
    grid-area: desc;
}

.desc {
    grid-area: descval;
    flex-grow: unset;
    background: blue;
    flex-flow: wrap;
    align-content: stretch;
}

.notesh {
    grid-area: notes;
}

.notes {
    grid-area: notesVal;
}

span {
    color: rgb(49, 71, 129);
}